.pidtable td:nth-child(n+3) {
  border-left: none !important;
  text-align: center;
}
.pidtable th:nth-child(n+3) {
  border-right: none !important;
  border-left: none !important;
  text-align: center;
}
.pidtable td:nth-child(2) {
  border-right: 1px solid #e1e4e5;
}
.pidtable tr, .pidtable td {
  background-color:white !important;;
}
tr.first{
  border-top: double #e1e4e5;
}
